.container {
    background: rgba( 255, 255, 255, 0.08 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 3em;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 10px;
}